@{
    ViewData["Title"] = "About Us";
}
<h1><b>@ViewData["Title"]</b></h1>

<div class="container">
    <div class="row">

        <p> Every day, an average of six New Zealanders turn to Blind Low Vision NZ for support with sight loss. Some are still reeling and are looking for emotional support; many want to find ways to remain self-reliant, to stay in work and get around independently. All want to find ways of doing the things that are important to them. Blind Low Vision NZ is here to provide practical and emotional support, to advocate for inclusive communities and lead the way in vision rehabilitation.</p>
        <p>We advocate for accessible and inclusive communities because we believe people with sight loss should be able to get around public spaces like any other member of the community, access the same information, and pursue the career of their dreams without unnecessary barriers. Age-related eye conditions in New Zealand are rising as our population ages and so we also want New Zealand to do better at taking eye health seriously.</p>
        <p>The good news is, now more than ever, the opportunities are here to make a real difference to people with sight loss by helping to remove barriers and educate New Zealand about how we can embrace an inclusive society, where everyone gets a fair go.</p>

                    
        <div class="container-fluid alert-dark">
            <div class="iframe-container">
                <iframe title="Blind Low Version NZ Services" src="https://www.youtube.com/embed/LaDv7ZcUSZE?autoplay=1" width="700" height="380" frameborder="0" allow="accelerometer;
autoplay;
encrypted-media;
gyroscope;
picture-in-picture" allowfullscreen=""> </iframe>
            </div>
        </div>
                           
        
        <h1><b>Who we help</b></h1>
        
        <p>We help people who have limited useful sight, making it challenging to do some day-to-day tasks even with the best corrective lenses.</p>
        <p>Three quarters of the people we help have some vision (which we call low vision), and the remainder are blind.</p>
        <p>Many people we support will have one or more of the four most common eye diseases causing blindness and partial sight in New Zealand: Age-related macular degeneration (AMD), diabetic retinopathy, glaucoma and cataracts. In fact, one third of the people Blind Low Vision NZ supports has macular disease. As New Zealand’s population ages we anticipate seeing more people with age-related sight loss.</p>
    </div>

</div>
