@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
     <div class="row" >
                 
     <p> this is about page</p>
     
     
     </div>




</div>
