@{
    ViewData["Title"] = "Challenge";
}
<h1><b>@ViewData["Title"]</b></h1>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="col-sm-8 ">
                <h2>The money raised will change lives</h2>
                <p>The money you raise will help fund Blind Low Vision NZ’s vital services for people with vison loss. Ultimately, you’re helping empower New Zealanders who are blind, deafblind, or have low vision to live the life they choose.</p>
            </div>
            <div class="col-sm-4">
                <img src="~/images/05_thumbsUp_forEmail.jpg" class="img-fluid" alt="Responsive image" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm btn-orange">
            <h2>Challenge is to give up a <b>bad habit</b></h2>
            <p>Finding it a struggle to go without your daily flat white or that 3pm chocolate fix? Spending too much time in front of the screen or having a few too many beers? Kick a habit and make a difference for people with vision loss!</p>
        </div>
        <div class="jumbotron">
            <div class="col-sm">
                <img src="~/images/15_podium.jpg" class="img-fluid" alt="Responsive image" />
            </div>
        </div>
        <div class="col-sm btn-orange">
            <h2>Donation amount raised so far:</h2>
            <span style="font-size: 2.5em; color: black;">$100</span>
        </div>
    </div>
</div>