@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="~/images/AG9I1268.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>


