@{
    ViewData["Title"] = "Home Page";
}
  
    <div class="container-fluid">
        
                            <h1><b>Welcome to Blind Low Vision NZ</b></h1>
        
                            <p2><b>Life without limits<br>Kahore e Mutunga ki te Ora</b>

                            </p2>
                     
        <img src="~/images/thumbsUp.jpg" class="img-fluid" alt="Responsive image">
        

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/DSC_5648.JPG" class="img-fluid" alt="Card image">
                    <div class="card-img-overlay">
                        
                            <hp class="card-title"><b>Who we help</b></hp>
                            <p1 class="card-text"><b>We support people with no or limited useful sight that makes doing day-to-day tasks a challenge, even with the best corrective lenses.</b></p1>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/DSC_3033.JPG" class="img-fluid" alt="Card image">
                    <div class="card-img-overlay">
                        <hp class="card-title"><b>How we can help</b></hp>
                        <p1 class="card-text">
                            <b>Our vision rehabilitation services are personalised to meet your individual needs and goals, however big or small. To become a client, you need to register for our services.</b>
                        </p1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/DSC_5706.JPG" class="img-fluid" alt="Card image">
                    <div class="card-img-overlay">
                        <hp class="card-title"><b>What our clients say</b></hp>
                        <p1 class="card-text"><b>“I don’t think a lot of people are aware of the opportunities and the services they have available. I just can’t thank them enough. They’ve been absolutely incredible.” – June Hieatt</b></p1>
                    </div>
                </div>
            </div>


        </div>
        
    </div>