@{
    ViewData["Title"] = "Home Page";
}
  
    <div class="container-fluid">
        
                            <h2><b>Welcome to Blind Low Vision NZ</b></h2>
        
                            <p>
                                Life without limits<br>
                                Kahore e Mutunga ki te Ora
                            </p>
                     
        <img src="~/images/thumbsUp.jpg" class="img-fluid" alt="Responsive image">


        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width:500px">
                    <img class="card-img-top" src="~/images/DSC_5648.JPG" class="img-fluid" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/images/DSC_3033.JPG" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="~/images/DSC_5706.JPG" class="img-fluid">
            </div>


        </div>
        
    </div>