@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><b>@ViewData["Title"]</b></h1>

<p>Blind Low Vision NZ is committed to protecting your privacy. This privacy statement outlines what personal information and health information we collect, use and disclose in accordance with the Privacy Act 1993 and Health Information Privacy Code 1994.</p>
<p>Blind Low Vision NZ collects information for different purposes.  This Privacy Statement is a general privacy policy. It addresses collection of information via our website and electronic communications.  In other contexts, such as the provision of services or collection of employment related information, more detail about the management of personal information will be provided.</p>
<h2><b>Information Security</b></h2>
<p>We work diligently to protect the security of your personal information, including credit and debit card information.</p>
<p>Our servers are protected by appropriate controls, user authentication protocols, as so on. Our personnel are permitted to access information related to the work they undertake.</p>
<p>It is important for you to protect against unauthorised access to your password and to your computer. We recommend that you logout when you have finished, especially if using a shared computer.</p>
<p>If you are concerned that your information may have been inappropriately accessed or disclosed please let us know.</p>